<!-- Change password -->
{% extends "layout.html" %}

<!-- Title -->
{% block title %}
Change your password!
{% endblock title %}

<!-- Body -->
{% block main %}
<!-- Form -->
    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock main %}
