{% extends "layout.html" %}

<!-- Title -->
{% block title %}
Register
{% endblock title %}

<!-- Body -->
{% block main %}

<!-- Form -->   
<div class="signup-form">
  <form action="/register" method="post">
    <h2>Register for CS50 Finance</h2>
    <p class="hint-text">Create your account. It's free and only takes a minute.</p>
    <div class="form-group">
      <div class="col-xs-6">
        <input type="text" autocomplete="off" class="form-control" name="username" placeholder="Username" required="required"></div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="required">
    </div>   
    <div class="form-group">
      <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
    </div>
  </form>

  <!-- Allready have account? -->
  <div class="text-center">Already have an account? <a href="#">Sign in</a></div>
</div>




<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
{% endblock main %}
